@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Meddon&display=swap');


* {
    margin: 2%;
    padding: 1%;
    font-family: 'Fjalla One', sans-serif;
}

/* INTRODUCTION COMPONENT  */

.introduction-container {
    background-color: #1C483D;
    border: white solid 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilepic {
    width: 25%;
    border-radius: 100%;
    border: white solid 5px;
}

.text-section {
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.text-section p {
    color: #5E9678;
}

/* SKILLS COMPONENT  */

.skills-container {
    background-color: #1C483D;
    border: white solid 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #5E9678;
}

.skills-container h2 {
    color: white;
    border: white solid 3px;
    border-radius: 10px;
    padding: 2%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills h3 {
    color: white;
}

.skill-box {
    width: 40%;
    border: #5E9678 solid 3px;
    border-radius: 10px;
}

/* PORTFOLIO COMPONENT  */

.portfolio-container {
    background-color: #1C483D;
    border: white solid 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #5E9678;
}

.portfolio-container h2 {
    color: white;
    border: white solid 3px;
    border-radius: 10px;
    padding: 2%;
}

button {
    background-color: #2B585A;
    color: white;
    border-radius: 10px;
    width: 50%;
    font-size: 1rem;
}

/* PORTFOLIO ITEM COMPONENT  */

.portfolioItem-box {
    border: 3px solid #2B585A;
    border-radius: 30px;
}

.portfolioItem-box h1 {
    color: white;
}